.wrapper { 
    display: flex;
    gap: 20px;
    align-items: baseline;
    margin-left: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    min-width: 100px;
    padding: 10px;
    height: 30px;
    background-color: rgb(246, 111, 1);
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(8, 2, 55, 0.5);

    &:hover {
        background-color:  #2196f3; 
    }
}
